#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
    width: 640px;
    height: 640px;
    background-color: blue;
}

#chessboard .tile {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

#chessboard .black-tile {
    background-color: #779556;
}
#chessboard .black-tile .red {
    background-color: #d90b0b;
    
}

#chessboard .white-tile {
    background-color: #ebecd0;
}